
<app-header></app-header>
<div id="inicio" class="bg-[#ffe4e6] dark:bg-rose-900">
<div class="bg-[url('https://i.pinimg.com/originals/6b/c7/9d/6bc79d5d15d0153954291ff277ff6d10.gif')] h-full w-full bg-cover bg-center">
<br><br><br>
<div style="text-align: center;">
<h3 class="text-white">pagina principal
<br><br>
bienvenid@ si estas aqui es porque tienes a alguien especial!
</h3>
<br>
<h3 class="mx-auto flex gap-x-4 max-w-6xl items-center rounded-xl bg-pink-400 text-white p-6 shadow-lg outline outline-black/5 dark:bg-gray-400 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10 dark:text-pink-400">Segun la enciclopedia el amor es:<br>
 El vínculo de afecto que nace de la valoración del otro e inspira el deseo de su bien. Puede verse como un valor o como una propiedad de las relaciones humanas.
<br>
pero al final de cuentas cada persona le da su propio significado<br>
</h3>
<h3 class="text-white">Porfavor ingresa tu inicial y el de tu persona especial <br> o sus nombres </h3>
<input type="text" class="bg-stone-50 text-rose-400 border rounded-lg text-center" [(ngModel)]='newinicial1' [disabled]="cargando()"  placeholder="tu inicial">&nbsp;
<input type="text" class="bg-stone-50 text-rose-400 border rounded-lg text-center" [(ngModel)]='newinicial2' [disabled]="cargando()" placeholder="su inicial">
<br><BR>
<button (click)="juntainiciales();" class="bg-red-500 hover:bg-pink-400 hover:text-red-500 border rounded-lg text-stone-50">PRESIONAME PARA UNIRLOS</button>
<BR>
<div class="flex items-center justify-center py-8">    
    <div class="bg-rose-300 border rounded-lg w-sm h-full items-center dark:bg-rose-900 text-violet-500">
    <div *ngIf="cargando()">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-b-pink-500 mx-auto"></div>
       <p>cargando <br> por favor espere....</p>
    </div>

<!--cambia en ng-container por un div-->
<!-- -->
<div *ngIf="!cargando() && inicial().length > 0"><!--si no cargando y porcentajeentero no es cero aparece-->
    <div *ngFor="let it of inicial()">
    <H1 >{{it.inicial1}} + {{it.inicial2}}</H1><!--para que es el span?-->
    <h2>{{porcentajeEntero()}}%</h2>
    <h2>{{respuesta()}}</h2>
    <!--<div *ngFor="let item of inicial()">
    <H1><span>{{item.inicial1}}+{{item.inicial2}}</span></H1>
    <h2>{{porcentajeEntero}}%</h2>-->
</div>
</div>
</div>
</div>

<br>
<h4 class="text-white">lo mas bonito de la vida:</h4><h4 id="amor">
    <div class="bg-purple-100 text-pink-400">{{amor()}}</div></h4>
<br>
<button class="bg-violet-100 mg-5 px-2 hover:bg-cyan-200 text-stone-950" (click)="nosotros()">presioname</button>&nbsp;
<button class="bg-purple-200 mg-5 px-2 hover:bg-cyan-200 text-stone-950" (click)="tuyyo()">reiniciar</button>
<h4 class="text-white">tu sabes que yo soy:  <br>
    {{amore()}}</h4> 
</div>
<div class="text-center  text-amber-200">
<h4>Antes de continuar porfavor selecciona la cancion que quieras de fondo</h4>
    <h3>ahora escuchando:&nbsp;{{cambiocancion()}}</h3>
    <div class="flex justify-center mt-4 ">
    <ng-container *ngIf="cancion() as currentSong"><!--if condicion cierta o falsa, mientras cancion valida se reproduce audio-->
    <!--controls class="w-sm rounded-lg bg-red-200 border border-red-300 focus:outline-none focus:ring-2 focus:ring-blue-500"-->
        <audio 
        autoplay loop
        [src]="currentSong">
    </audio>
    </ng-container>
    </div>
    <h3>Presiona la cancion de tu agrado para reproducir</h3>
    <button (click)="cancion1()" class="bg-red-950 hover:bg-red-200 active:bg-red-200">Lo que siento de Cuco</button>
    &nbsp;
    <button (click)="cancion2()" class="bg-red-950 hover:bg-red-200 active:bg-red-200">Only de LeeHi</button>
    &nbsp;
    <button (click)="cancion3()" class="bg-red-950 hover:bg-red-200 active:bg-red-200">her de JVKE</button>
    &nbsp;
    <button (click)="cancion4()" class="bg-red-950 hover:bg-red-200 active:bg-red-200">I Hear a Symphony de Cody Fry</button>
</div>
<hr>
<h5>si puedes ver esto funciono mi repositorio</h5>
<h5 class="hover:bg-red-500 text-white">si pudiste ver esto, recuerda vivir con amor</h5>
</div>
</div>

   
